@layer components.header {
  .main {
    container: header / inline-size;
    display: flex;
    z-index: 1;
    position: sticky;

    grid-row: header;
    grid-column: wide;
    place-content: space-between;
    place-items: center stretch;
    inset-block-start: 0;

    padding-inline: var(--spacing-md);
    padding-block: var(--spacing-sm);
    gap: var(--gutter-sm);

    border: var(--border-width) solid var(--primary-l4);
    border-radius: var(--border-radius);
    border-block-start: unset;
    border-start-start-radius: unset;
    border-start-end-radius: unset;

    background-color: var(--color-primary);
    background: var(--bg-container);
    box-shadow: var(--shadow);
    color: var(--text-contrast);

    a {
      color: inherit;
      text-decoration: none;
    }
  }

  .siteHome {
    display: grid;
    column-gap: var(--gutter-xs);
    grid-template: "logo vr title" "logo vr subtitle" / auto auto;
    flex: 0 1 fit-content;
    place-items: center;

    .vr {
      /* vertical ruler */
      grid-area: vr;
      place-self: center;
      inline-size: 5px;
      block-size: 95%;
      background-color: var(--color-base);
      background: linear-gradient(90deg, transparent 3px, var(--color-base) 3px);
    }

    .siteLogo {
      grid-area: logo;
      max-block-size: 2lh;

      box-shadow: var(--shadow-subtle);
    }

    .title,
    .subtitle {
      line-height: var(--line-height-condensed);
    }

    .title {
      grid-area: title;
      place-self: end start;
      font-weight: bolder;
      font-size: var(--fontsize-lg);
      font-family: var(--font-headings);
      text-transform: uppercase;
    }

    .subtitle {
      grid-area: subtitle;
      place-self: start start;
      font-size: var(--fontsize-sm);

      &:not(.title + &) {
        grid-row: "-1 / 1";
        place-self: "center";
      }
    }
  }
}
