:global(#root) {
  --max-container-size: min(75ch, 88dvw);
  --min-container-size: min(20ch, 88dvw);

  /* --container-size: clamp(20ch, 88dvw, 480px); */
  --container-size: clamp(20ch, 75ch, 88dvw);
}

.container {
  --color-border: var(--color-base);

  position: relative;
  display: flex;
  flex-direction: column;
  grid-column: wide;
  grid-row: 1 / -1;
  max-inline-size: var(--container-size);
  background: radial-gradient(circle at 20% 66%, var(--color-primary), transparent),
    linear-gradient(
      169deg,
      var(--primary-l2),
      var(--primary-l1) 6dvh,
      var(--color-primary) 66dvh,
      var(--color-primary) 86dvh,
      var(--primary-d1) 98dvh
    );

  background-color: var(--color-primary);
  border: 2px solid color-mix(in oklab, var(--primary-l4), transparent 20%);
  margin-block: var(--spacing-md);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow);
  padding-inline: var(--spacing-md);

  > hr {
    margin-block: calc(0px - var(--gutter-sm) / 2);
    height: 1px;
    background-color: var(--color-base);
  }

  > * {
    position: relative;
    z-index: 1;
  }
}

.container::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  inline-size: 100%;
  min-block-size: 100dvh;
  font-size: var(--fontsize-sm);
  background: url("app/assets/pattern.png?url") 0% 100% / 92% auto no-repeat;
  background-color: transparent;
  opacity: 0.08;
  pointer-events: none;
}
