{
    "experimentalTernaries": true,
    "overrides": [
        {
            "files": [
                "*.css"
            ],
            "options": {
                "printWidth": 120
            }
        },
        {
            "files": [
                "*.svg, *.xml"
            ],
            "options": {
                "parser": "html"
            }
        }
    ],
    "plugins": [
        "@prettier/plugin-xml",
        "prettier-plugin-css-order"
    ],
    "cssDeclarationSorterOrder": "smacss"
}