.sidebar {
  --color-border: var(--color-base);

  display: flex;
  position: sticky;
  top: var(--gutter);

  /* grid-column: sidebar / span 3; */
  flex: 1 0 min-content;

  /* grid-row: content; */

  flex-direction: column;
  align-self: start;
  padding: var(--spacing-md);

  background: radial-gradient(circle at 20% 66%, var(--color-primary), transparent),
    linear-gradient(
      169deg,
      var(--primary-l2),
      var(--primary-l1) 6dvh,
      var(--color-primary) 66dvh,
      var(--color-primary) 86dvh,
      var(--primary-d1) 98dvh
    );
  background-color: var(--color-primary);
  border: 2px solid color-mix(in oklab, var(--primary-l4), transparent 20%);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow);

  > hr {
    /* margin-block: calc(0px - var(--gutter-sm) / 2); */
    height: 1px;
    background-color: var(--color-base);
  }

  > * {
    position: relative;
    z-index: 1;
  }

  > * {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-md);
  }

  .header {
    display: grid;
    gap: var(--spacing-sm);
    place-items: center;
    text-align: center;
    /* padding-block-start: var(--spacing-sm); */
    padding-block: unset;
    color: var(--text-contrast);

    hgroup {
      position: relative;
      display: grid;
      gap: var(--spacing-xs);
      inline-size: 100%;
      place-content: center;
      padding: var(--spacing-xs);

      line-height: var(--line-height-condensed);

      h1 {
        margin-block: unset;
      }

      p {
        backdrop-filter: blur(10px);
        background-color: color-mix(in oklab, var(--primary-d1), transparent 66%);
        border: 1px solid var(--color-border);
        border-radius: var(--border-radius);
      }
    }

    .portrait {
      place-self: start center;
      aspect-ratio: 1 / 1;
      object-fit: cover;
      border-radius: var(--border-radius);
      box-shadow: 0px 3px 4px color-mix(in oklab, var(--gray-d2), transparent 70%);
      max-block-size: 6rlh;
      background-color: var(--color-primary);
      z-index: 1;
    }

    h1 {
      font-size: var(--fontsize-xl);
    }
  }
}

.socialIcons {
  display: grid;
  justify-content: stretch;

  gap: var(--gutter-sm);
  font-size: var(--fontsize-sm);

  a {
    display: inline-grid;
    align-items: center;
    grid-template-areas:
      "icon title"
      "icon link";

    place-content: start;

    text-decoration: none;
    column-gap: var(--gutter-sm);
    padding-block: var(--spacing-xs);
    padding-inline: var(--spacing-sm);
    border-radius: var(--border-radius);
    background-color: var(--color-primary);
    color: var(--text-contrast);

    transition: background-color 280ms ease-in-out;

    &:hover,
    &:focus-visible {
      background-color: var(--primary-l1);
    }
  }

  .socialIcon {
    grid-area: icon;
    place-self: center;
  }

  .socialTitle {
    display: inline-flex;
    align-items: baseline;
    gap: 0.25ch;
    line-height: 1;
    text-transform: uppercase;

    /* color: color-mix(in oklab, var(--text-contrast), var(--primary-d3) 100%); */

    grid-area: title;

    h2 {
      font-size: var(--fontsize-sm);
    }
  }

  .socialLink {
    font-style: italic;
    font-size: var(--fontsize-sm);
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    grid-area: link;
  }
}

._sidebar {
  --color-border: var(--color-base);

  display: flex;
  position: sticky;
  top: var(--gutter);
  grid-column: sidebar / span 3;
  grid-row: content;

  flex-direction: column;
  align-self: start;
  padding: var(--spacing-md);

  background: radial-gradient(circle at 20% 66%, var(--color-primary), transparent),
    linear-gradient(
      169deg,
      var(--primary-l2),
      var(--primary-l1) 6dvh,
      var(--color-primary) 66dvh,
      var(--color-primary) 86dvh,
      var(--primary-d1) 98dvh
    );
  background-color: var(--color-primary);
  border: 2px solid color-mix(in oklab, var(--primary-l4), transparent 20%);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow);

  > hr {
    /* margin-block: calc(0px - var(--gutter-sm) / 2); */
    height: 1px;
    background-color: var(--color-base);
  }

  > * {
    position: relative;
    z-index: 1;
  }

  > * {
    grid-column: 1 / -1;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-md);
  }

  .header {
    display: grid;
    gap: var(--spacing-sm);
    place-items: center;
    text-align: center;
    /* padding-block-start: var(--spacing-sm); */
    padding-block: unset;
    color: var(--text-contrast);

    hgroup {
      position: relative;
      display: grid;
      gap: var(--spacing-xs);
      inline-size: 100%;
      place-content: center;
      padding: var(--spacing-xs);

      line-height: var(--line-height-condensed);

      h1 {
        margin-block: unset;
      }

      p {
        backdrop-filter: blur(10px);
        background-color: color-mix(in oklab, var(--primary-d1), transparent 66%);
        border: 1px solid var(--color-border);
        border-radius: var(--border-radius);
      }
    }

    .portrait {
      place-self: start center;
      aspect-ratio: 1 / 1;
      object-fit: cover;
      border-radius: var(--border-radius);
      box-shadow: 0px 3px 4px color-mix(in oklab, var(--gray-d2), transparent 70%);
      max-block-size: 6rlh;
      background-color: var(--color-primary);
      z-index: 1;
    }

    h1 {
      font-size: var(--fontsize-xl);
    }
  }

  .socialIcons {
    display: grid;
    justify-content: stretch;

    gap: var(--gutter-sm);
    font-size: var(--fontsize-sm);

    a {
      display: inline-grid;
      align-items: center;
      grid-template-areas:
        "icon title"
        "icon link";

      place-content: start;

      text-decoration: none;
      column-gap: var(--gutter-sm);
      padding-block: var(--spacing-xs);
      padding-inline: var(--spacing-sm);
      border-radius: var(--border-radius);
      background-color: var(--color-primary);
      color: var(--text-contrast);

      transition: background-color 280ms ease-in-out;

      &:hover,
      &:focus-visible {
        background-color: var(--primary-l1);
      }
    }

    .socialIcon {
      grid-area: icon;
      place-self: center;
    }

    .socialTitle {
      display: inline-flex;
      align-items: baseline;
      gap: 0.25ch;
      line-height: 1;
      text-transform: uppercase;

      /* color: color-mix(in oklab, var(--text-contrast), var(--primary-d3) 100%); */

      grid-area: title;

      h2 {
        font-size: var(--fontsize-sm);
      }
    }

    .socialLink {
      font-style: italic;
      font-size: var(--fontsize-sm);
      overflow-x: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      grid-area: link;
    }
  }
}
