@layer defaultCss, layouts, primitives, components, utilities;
@import url("./styles/default.css/style.css");

:root,
::backdrop {
  /* Fix for moving background image when scrollbar appears */
  @supports not (overflow-block: scroll) {
    & {
      overflow-y: scroll;
    }
  }
  overflow-block: scroll;
  scrollbar-gutter: stable;

  --border-width: 4px;

  [popover]:not(:popover-open):not(dialog[open]) {
    display: none;
  }
}

.bg-full::before {
  content: "";
  position: fixed;
  inset: 0;
  z-index: -999;

  background: url("./assets/beach.jpg") no-repeat 0% 90% / cover fixed;
  background-color: var(--color-primary);
  filter: brightness(0.7);
}

.skyline-ex {
  fill: var(--primary-l4);
}

.root,
#root {
  display: grid;
  gap: var(--gutter-xs);
}

.blur {
  position: relative;
}

.blur::after {
  content: "";
  position: absolute;
  inset: 0 calc(var(--gutter) * -1);

  grid-column: wide;

  backdrop-filter: blur(10px) brightness(0.8);
  z-index: -999;

  border-radius: var(--border-radius);
}

.copyright {
  position: fixed;
  bottom: var(--spacing-xs);
  right: var(--spacing-md);
  font-size: var(--fontsize-xs);
  color: var(--text-contrast);
  opacity: 0.6;
  z-index: -1;
  grid-column: full;
}

.error {
  align-content: flex-start;

  header {
    display: grid;
    row-gap: inherit;
    place-items: center;
    font-size: var(--fontsize-xl);
  }

  footer {
    place-items: center;
  }

  summary {
    font-family: var(--font-mono);
    font-weight: unset;
  }

  pre {
    margin-block: var(--spacing-sm);
  }
}
