@layer defaultCss, layouts, primitives, components;
/* @import url("./styles/default.css/IMPORTS.css") layer(defaultCss.setup.imports); */
@import url("./styles/default.css/style.css") layer(defaultCss);

:root,
::backdrop {
  --border-width: 4px;

  /* Fix for moving background image when scrollbar appears */
  /* @supports (overflow-block: scroll) {
    & {
      overflow-block: auto;
    }
  }

  @supports not (overflow-block: scroll) {
    & {
      overflow-y: auto;
    }
  } */

  [popover]:not(:popover-open):not(dialog[open]) {
    display: none;
  }
}

a {
  display: inline-flex;
  align-items: center;
  gap: 0.5ch;
}

.bg-full::before {
  z-index: -999;
  position: fixed;
  inset: 0;

  background: url("./assets/beach.jpg") no-repeat 0% 90% / cover fixed;
  background-color: var(--color-primary);
  content: "";
  filter: brightness(0.7);
}

.skyline-ex {
  fill: var(--primary-l4);
}

.root,
#root {
  display: grid;
  gap: var(--gutter-xs);
}

.blur {
  position: relative;
}

.blur::after {
  z-index: -999;
  position: absolute;

  grid-column: wide;
  inset: 0 calc(var(--gutter) * -1);

  border-radius: var(--border-radius);

  backdrop-filter: blur(10px) brightness(0.8);
  content: "";
}

.copyright {
  z-index: -1;
  position: fixed;
  grid-column: full;
  inset-block-end: var(--spacing-xs);
  inset-inline-end: var(--spacing-md);
  color: var(--text-contrast);
  font-size: var(--fontsize-xs);
  opacity: 0.6;
}

.error {
  align-content: flex-start;

  header {
    display: grid;
    row-gap: inherit;
    place-items: center;
    font-size: var(--fontsize-xl);
  }

  footer {
    place-items: center;
  }

  summary {
    font-weight: unset;
    font-family: var(--font-mono);
  }

  pre {
    margin-block: var(--spacing-sm);
  }
}
