/* Minimal css reset */
@layer setup.reset {
  /* Set box sizing model to be more intuitive.  */
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  body {
    /* Enable use of container units for layout */
    /* container-type: inline-size; */

    /* Remove default margin from body */
    margin: unset;
  }

  /* Remove default margin on elements favour of better control in authored CSS */
  body,
  h1,
  h2,
  h3,
  h4,
  p,
  figure,
  blockquote,
  dl,
  dd {
    margin-block-end: 0;
  }

  html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
  }

  /* A elements that don't have a class get default styles */
  a:not([class]) {
    color: currentColor;
    text-decoration-skip-ink: auto;
  }

  /* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
  ul[role="list"],
  ol[role="list"] {
    list-style: none;
  }

  /* Inherit fonts for inputs and buttons */
  input,
  button,
  textarea,
  select {
    font-size: inherit;
    font-family: inherit;
  }

  /* Make images easier to work with */
  img,
  picture {
    display: block;
    max-inline-size: 100%;
  }

  /* Make sure textareas without a rows attribute are not tiny */
  textarea:not([rows]) {
    min-block-size: 10em;
  }

  /* Ensure script elements are not displayed in content unless specifically styled. */
  :where(link, script):not([class]) {
    display: none;
  }
}
