@layer primitives.button.base, primitives.button.fill, primitives.button.variants;

@layer primitives.button.base {
  .main {
    --bg-color: var(--color-primary, aliceblue);
    --bg-mix-lighten-1: color-mix(in oklab, var(--bg-color) 85%, white);
    --bg-mix-lighten-2: color-mix(in oklab, var(--bg-color) 70%, white);
    --bg-mix-darken-1: color-mix(in oklab, var(--bg-color) 90%, black);
    --bg-mix-darken-2: color-mix(in oklab, var(--bg-color) 80%, black);

    --bg-hover: var(--primary-l1, --bg-mix-lighten-1);
    --bg-active: var(--primary-l2, --bg-mix-lighten-2);

    --text-color: var(--text-contrast);

    --shadow-isPressed: 0px 0px 12px 2px color-mix(in oklab, var(--color-contrast, black), transparent 80%);

    display: inline-block;
    padding: var(--spacing-xs) var(--spacing-sm);
    place-content: center;
    place-items: center;

    color: var(--text-color);
    text-align: center;
    text-decoration: none;
    font-weight: 600;

    border: 2px solid var(--bg-color);
    background-color: var(--bg-color);

    transition: all 200ms ease-out;

    span {
      transition: inherit;
    }

    &:hover:not(.shine) {
      background-color: var(--bg-hover);
      box-shadow: var(--shadow-isPressed);
    }

    &.isPressed:not(.shine),
    &:active:not(.shine) {
      background-color: var(--bg-active);
    }
  }
}

@layer primitives.button.fill {
  .primary {
    --bg-color: var(--color-primary, currentColor);
    --bg-hover: var(--primary-l1, --bg-mix-lighten-1);
    --bg-active: var(--primary-l2, --bg-mix-lighten-2);
    --text-color: var(--text-contrast);
  }

  .secondary {
    --bg-color: var(--color-secondary, currentColor);
    --bg-hover: var(--secondary-l1, --bg-mix-lighten-1);
    --bg-active: var(--secondary-l2, --bg-mix-lighten-2);
    --text-color: var(--text-contrast);
  }

  .tertiary {
    --bg-color: var(--color-tertiary);
    --bg-hover: var(--tertiary-l1, --bg-mix-lighten-1);
    --bg-active: var(--tertiary-l2, --bg-mix-lighten-2);
    --text-color: var(--text-contrast);
  }

  .accent {
    --bg-color: var(--color-accent);
    --bg-hover: var(--accent-l1, --bg-mix-lighten-1);
    --bg-active: var(--accent-l2, --bg-mix-lighten-2);
    --text-color: var(--text-contrast);
  }

  .base,
  .white {
    --bg-color: var(--color-base);
    --bg-hover: var(--bg-mix-darken-1);
    --bg-active: var(--bg-mix-darken-2);
    --text-color: var(--text-base);
  }

  .contrast,
  .black {
    --bg-color: var(--color-contrast);
    --bg-hover: var(--bg-mix-lighten-1);
    --bg-active: var(--bg-mix-lighten-2);
    --text-color: var(--text-contrast);
  }
}

@layer primitives.button.variants {
  .isRounded {
    border-radius: var(--border-radius, 0.5rem); /* matches spacing */
  }

  .outline {
    border: 2px solid var(--bg-color);

    font-weight: bolder;

    --bg-hover: color-mix(in oklab, var(--bg-color) 85%, white);
    --bg-active: color-mix(in oklab, var(--bg-color) 70%, white);

    &:not(:hover, :active) {
      background: unset;
      --text-color: var(--bg-color);
    }
  }

  .icon {
    background-color: unset;
    box-shadow: unset;

    display: flex;
    border: unset;
    padding: var(--spacing-xs);
    block-size: max-content;
    align-self: center;

    > *,
    svg {
      fill: var(--bg-color);
      color: var(--bg-color);
      transition: inherit;
      /* flex: 0 0 auto; */
      flex: none;
      height: var(--icon-size, 1.2cap);
      width: auto;
      display: block;
    }

    &:hover {
      > *,
      svg {
        filter: drop-shadow(0px 1px 4px black);
      }
    }

    &.isPressed {
      > *,
      svg {
        scale: 0.9;
      }
    }
  }

  .shine {
    background: linear-gradient(
        147deg,
        var(--bg-color) 0%,
        var(--bg-hover) 51%,
        var(--bg-color) 80%,
        var(--bg-hover) 100%
      )
      left top / 200% 600%;
    background-size: 200% 600%;
    background-position: left top;

    --bg-current: linear-gradient(
      147deg,
      var(--bg-color) 0%,
      var(--bg-hover) 51%,
      var(--bg-color) 80%,
      var(--bg-hover) 100%
    );
    --bg-current-position: left top;
    --bg-current-size: 200% 600%;

    transition: all 380ms ease-out;
  }

  .shine:hover {
    background-position: right bottom;
    box-shadow: 0px 0px 12px 2px color-mix(in oklab, var(--color-base, white), transparent 80%);
  }

  .shine:active,
  .shine.isPressed {
    background-position: right bottom;
    filter: brightness(0.9);
  }

  .featureBtn {
    display: inline-block;
    padding: var(--spacing-xs) var(--spacing-sm);
    border-radius: var(--border-radius);

    /* color: var(--text-contrast); */
    text-align: center;
    text-decoration: none;
    font-weight: 600;

    &:hover,
    &:focus-visible {
      background-color: var(--accent-l1);
    }

    &:active {
      background-color: var(--accent-l2);
    }
  }

  .disabled,
  [data-disabled="true"],
  [disabled] {
    cursor: default;
    background-color: var(--bg-disabled);
    border-color: var(--bg-disabled);
    color: var(--text-disabled);
  }
}
