.main {
  flex: 1 1 auto;
  display: grid;
  row-gap: var(--gutter);
  color: var(--text-contrast);

  p {
    text-wrap: pretty;
  }

  a {
    color: var(--text-contrast);
  }

  details,
  .aboutMe {
    backdrop-filter: blur(10px);
    background-color: color-mix(in oklab, var(--primary-d1), transparent 66%);
    border: 1px solid var(--color-border);
    padding: var(--spacing-md);
    padding-block: var(--spacing-sm);
    border-radius: var(--border-radius);
    box-shadow: var(--shadow);

    summary::before {
      border-left-color: var(--color-base);
    }

    /* Stretch the summary to the size of the details container when closed */
    summary::after {
      --block-padding: var(--spacing-sm);
      --inline-padding: var(--spacing-md);

      content: "";
      position: absolute;
      top: calc(0px - var(--block-padding));
      bottom: calc(0px - var(--block-padding));
      right: calc(0px - var(--inline-padding));
      left: calc(0px - var(--inline-padding));
      z-index: 1;
      cursor: pointer;
    }
  }
}

.footer {
  padding-block: var(--spacing-sm);
  color: var(--text-contrast);
  row-gap: var(--spacing-xxs);

  border-block-start: 1px solid var(--color-border);

  .socialIcons {
    display: flex;
    justify-content: center;
    gap: var(--gutter-sm);
  }
}
