@layer theming.root {
  :root,
  ::backdrop {
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: var(--text-base, inherit);

    /* Set our default font settings on the html element. */
    font-size: var(--fontsize-md, inherit);
    line-height: var(--line-height, inherit);
    font-family: var(--font-main, inherit);

    @media (prefers-reduced-motion: reduce) {
      scroll-behavior: auto;
    }
  }

  :root,
  ::backdrop {
    --border-container: var(--border-width) solid var(--primary-l4);
  }

  /* Prevent scripts from impacting line heights. */
  sub,
  sup {
    line-height: 0;
  }

  /* Basic typographic styles. */
  *::before,
  *::after,
  select,
  input,
  textarea,
  button,
  legend,
  figcaption,
  p,
  ul,
  ol,
  a,
  q,
  cite,
  span,
  small,
  th,
  td,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: inherit;
  }

  /* Inheritance in place for child inline elements */
  /* legend *,
  figcaption *,
  button *,
  p *,
  ul *,
  ol *,
  a *,
  q *,
  cite *,
  span *,
  small *,
  th *,
  td *,
  h1 *,
  h2 *,
  h3 *,
  h4 *,
  h5 *,
  h6 * {
    font-size: inherit;
    font-style: inherit;
    line-height: inherit;
  } */
}
